:root {
  --md-primary-fg-color: #1e96dc;
  --md-accent-fg-color: #1e96dc;
  --md-default-fg-color--light: #1e96dc;
  --md-text-link-color: #1e96dc;
  --md-footer-bg-color--dark: #373c43;
}

[data-md-color-primary=white] {
    --md-primary-fg-color: #1e96dc;
    --md-accent-fg-color: #1e96dc;
    --md-default-fg-color--light: #1e96dc;
    --md-text-link-color: #1e96dc;
}

* {
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
}

button:focus {
    outline: none
}

body
{
    font-family: 'Open Sans', 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;

    letter-spacing: .5px;

    #color: #212529;
    color: #3a434a;

    margin: 0;
}


.header {
  background-color: #fff;
}

.header .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
@media (max-width:992px) {
    .header .row {
        justify-content: center;
    }
}
.header .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}
.header__top {
    font-family: "Roboto",sans-serif;
    min-height: 48px;
    position: relative;
    z-index: 110;
    display: none;
}
.header__top.show {
    display: block;
}
.header__right {
    display: flex;
}
@media (min-width:576px) {
    .header .container {
        max-width: 540px
    }
}

@media (min-width:992px) {
    .header .container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .header .container {
        max-width: 1140px
    }
}

@media (min-width:1440px) {
    .header .container {
        max-width: 1380px
    }
}

.header__logo {
    min-width: 240px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
}

.header__logo .navixy {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 153.2 53'%3e%3cstyle%3e.st1%7bfill-rule:evenodd;clip-rule:evenodd;fill:%23575756%7d%3c/style%3e%3cpath d='M17.6 11.5c7.7 1 13.7 7.5 13.7 15.5l-13.7-7.9v-7.6zm-3.9 7.6L0 27c0-8 6-14.6 13.7-15.5v7.6zm17 12.1c-1.8 6.6-7.9 11.5-15.1 11.5-7.2 0-13.2-4.8-15.1-11.5l15.1-8.7 15.1 8.7z' fill-rule='evenodd' clip-rule='evenodd' fill='%23008ecf'/%3e%3cpath class='st1' d='M77.4 20.7c5.2 0 9.4 4.2 9.4 9.4v9.4h-3.9v-1.8c-1.5 1.1-3.4 1.8-5.5 1.8-5.2 0-9.4-4.2-9.4-9.4s4.2-9.4 9.4-9.4zm0 3.9c3 0 5.5 2.5 5.5 5.5s-2.5 5.5-5.5 5.5-5.5-2.5-5.5-5.5 2.5-5.5 5.5-5.5zM105.5 20.7h-4.2l-5.2 13.4L91 20.7h-4.2l7.3 18.8h4.1l7.3-18.8zM111.4 20.7h-3.9v18.8h3.9V20.7zM132.1 20.7h-4.9l-4.5 6.1-4.5-6.1h-4.9l7 9.4-7 9.4h4.9l4.5-6.1 4.5 6.1h4.9l-7-9.4 7-9.4zM46.9 14.5H43v25h3.9V20.9L61 39.5h3.9v-25H61v18.6L46.9 14.5zM152.8 20.7h-4.2l-2.3 5.9-2.9 7.5-5.2-13.4H134l7.3 18.8-2.3 5.9h4.2l2.3-5.9 5-12.9 2.3-5.9z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 112px;
    padding-left: 112px;
    height: 48px;
}

.header__logo .b2field {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='140px' height='35px' viewBox='0 0 13591 3383' style='shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;fill:%23575756;clip-rule:evenodd;'%3e%3cpath d='M0 8l1684 0c925,0 1683,758 1683,1683l0 0c0,926 -758,1684 -1683,1684l0 0c-926,0 -1684,-758 -1684,-1684l0 -1683zm1073 2524l0 -1683 724 0c34,0 70,4 106,13 37,8 72,20 107,35 35,14 68,32 98,52 30,20 56,43 78,68 41,43 71,92 91,145 20,54 30,108 30,164 0,66 -14,128 -42,189 -28,60 -68,113 -121,158l0 0 -21 17 21 17 0 0c53,45 93,98 121,159 28,60 42,123 42,188 0,56 -10,111 -30,164 -20,54 -50,103 -91,146 -22,25 -48,47 -78,68 -30,20 -63,37 -98,52 -35,15 -70,26 -107,35 -36,8 -72,13 -106,13l-724 0z' class='logo-fil0'/%3e%3cpath d='M5197 1713c125,14 226,58 305,132 78,74 117,184 117,330 0,171 -58,298 -173,382 -116,84 -277,126 -484,126l-499 0 0 -1830 408 0c212,0 376,38 491,115 114,76 172,190 172,341 0,113 -31,204 -92,273 -62,69 -143,113 -245,131zm-574 -727l0 671 369 0c114,0 205,-30 275,-90 69,-59 104,-142 104,-247 0,-119 -41,-205 -122,-256 -81,-52 -201,-78 -362,-78l-264 0zm339 1563c328,0 492,-125 492,-374 0,-132 -41,-230 -122,-294 -81,-64 -188,-96 -322,-96l-387 0 0 764 339 0zm1325 -1672c150,0 269,43 357,131 88,87 132,199 132,336 0,116 -24,225 -72,326 -48,102 -123,213 -226,334 -102,121 -267,302 -495,542l841 0 -21 137 -1002 0 0 -131c244,-260 419,-453 525,-579 106,-125 181,-234 224,-326 44,-91 66,-190 66,-295 0,-105 -31,-189 -92,-251 -62,-62 -143,-93 -245,-93 -82,0 -154,17 -217,50 -64,34 -124,85 -181,153l-107 -80c72,-88 149,-152 231,-193 83,-41 177,-61 282,-61zm938 1806l0 -1830 914 0 -19 133 -735 0 0 714 634 0 0 133 -634 0 0 850 -160 0zm1296 -1398l0 1398 -155 0 0 -1398 155 0zm-80 -614c35,0 64,11 85,32 22,21 32,48 32,80 0,32 -10,59 -32,80 -21,22 -50,32 -85,32 -34,0 -62,-10 -83,-32 -21,-21 -32,-48 -32,-80 0,-32 11,-59 32,-80 21,-21 49,-32 83,-32zm1600 1261c0,39 -2,77 -5,112l-933 0c9,182 53,317 130,405 77,88 179,132 306,132 73,0 137,-11 194,-33 56,-23 117,-58 183,-106l72 99c-70,57 -141,100 -214,128 -73,29 -154,43 -243,43 -185,0 -331,-63 -436,-190 -105,-126 -157,-302 -157,-526 0,-148 22,-277 68,-389 45,-111 110,-197 195,-259 85,-61 183,-92 295,-92 178,0 314,60 406,180 93,121 139,286 139,496zm-152 -48c0,-157 -33,-279 -98,-367 -65,-89 -161,-133 -290,-133 -115,0 -209,45 -280,134 -71,89 -110,224 -118,406l786 0 0 -40zm788 828c-77,0 -137,-22 -180,-67 -44,-44 -66,-110 -66,-197l0 -1732 155 -18 0 1744c0,91 38,136 112,136 38,0 70,-6 97,-18l42 115c-50,25 -103,37 -160,37zm1472 -1996l0 1967 -133 0 -19 -214c-96,162 -236,243 -420,243 -162,0 -289,-65 -383,-194 -93,-129 -140,-305 -140,-527 0,-145 22,-272 65,-382 44,-111 107,-197 190,-259 83,-63 180,-94 292,-94 159,0 290,63 393,190l0 -748 155 18zm-548 1868c90,0 165,-22 226,-64 62,-43 117,-108 167,-195l0 -730c-100,-140 -222,-211 -366,-211 -126,0 -226,53 -300,158 -74,105 -110,254 -109,446 0,192 34,340 102,442 68,103 161,154 280,154z' class='logo-fil1'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 112px;
    padding-left: 112px;
    height: 48px;
}

.header__logo .developer-hub {
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.header__logo .developer-hub:after {
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
    margin-left: 9px;
    content: "| Developer Hub";
    letter-spacing: 1.3px;
    color: rgba(0,0,0,.54);
    white-space: nowrap;
}
@media (max-width:480px) {
    .header__logo {
        min-width: auto;
    }
    .header__logo .navixy,
    .header__logo .b2field {
        background-size: 76px;
        padding-left: 80px;
    }
    .header__logo .developer-hub:after {
        font-size: 14px;
        margin-top: 0;
        margin-left: 0;
    }
}

@media (max-width:320px) {
    .header__logo .developer-hub:after {
        font-size: 13px;
    }
    .md-header-nav__button[for=__drawer] {
        margin-left: 0;
    }
    .md-header-nav__button[for=__search] {
        margin-right: 0;
    }
}

.main-navigation .menu-toggle {
    display: none
}

@media (max-width: 991px) {
    .header {
        z-index: 1;
    }
    .main-navigation {
        display: none
    }
    .main-navigation.open {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #fff;
    }
    .menu-main-menu-ru-container {
        height: 100%;
    }
    .main-navigation.open .nav-menu {
        height: 100%;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main-navigation.open .menu-item {
        padding: 0;
        margin: 0 !important;
    }
    .header:after {
        display: none;
    }
}

.main-navigation .nav-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap
}

.main-navigation .nav-menu .menu-item:not(:last-child) {
    margin-right: 15px
}

@media (max-width:576px) {
    .main-navigation .nav-menu .menu-item:not(:last-child) {
        margin-right: 8px
    }
}

.main-navigation .nav-menu .menu-item.active a {
    border-top: 4px solid #1e96dc;
    color: #1e96dc
}

@media (max-width:1199px) {
    .main-navigation .nav-menu .menu-item.active a {
        border-top: 0
    }
}

.main-navigation .nav-menu .menu-item a {
    border-top: 4px solid transparent;
    color: rgba(0, 0, 0, .54);
    font-size: 13px;
    text-decoration: none;
    -webkit-transition: color .3s;
    transition: color .3s;
    display: inline-block;
    padding: 17px 10px 13px;
}

@media (max-width:1199px) {
    .main-navigation .nav-menu .menu-item a {
        border-top: 0
    }
}

.main-navigation .nav-menu .menu-item a:hover {
    color: #0B395A;
    text-decoration: none
}

@media (max-width:576px) {
    .main-navigation .nav-menu .menu-item a {
        font-size: .8rem;
        padding: 7px 5px
    }
}

.md-search__input {
    background-color: #fdfdfd;
    display: block;
    width: 38px;
    height: 38px;
    border: 1px solid #e5e5e5;
    border-radius: 18px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.05) inset;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 13px;
    line-height: 38px;
    color: #848484;
    margin-bottom: 0;
}
[data-md-toggle=search]:checked~.md-header .md-search__input {
    width: 100%;
    padding-left: 40px;
}

.md-search__input::-webkit-input-placeholder {
    opacity: 0;
}
.md-search__input::-moz-placeholder {
    opacity: 0;
}
.md-search__input:-moz-placeholder {
    opacity: 0;
}
.md-search__input:-ms-input-placeholder {
    opacity: 0;
}

.md-search__icon[for=__search] {
    top: 11px;
    left: 9px;
}
.md-search__icon.md-icon svg {
    width: 20px;
    height: 20px;
    color: #aaa;
}
@media (max-width: 59.9375em) {
    .md-header-nav__button.md-icon {
        color: #1e96dc;
    }
    .md-search__input {
        border: none;
        box-shadow: none;
        height: 2.4rem;
        font-size: .9rem;
    }
    .md-search__input::-webkit-input-placeholder {
        opacity: 1;
    }
    .md-search__input::-moz-placeholder {
        opacity: 1;
    }
    .md-search__input:-moz-placeholder {
        opacity: 1;
    }
    .md-search__input:-ms-input-placeholder {
        opacity: 1;
    }
    .md-search__icon.md-icon svg {
        width: 1.2rem;
        height: 1.2rem;
    }
}

@media (min-width: 60em) {
    [data-md-color-primary=white] .md-search__input:hover {
        background-color: transparent;
    }
    .md-search__inner {
        width: 100%;
        position: absolute;
        right: 0;
    }
}

@media (min-width: 76.25em) {
    [data-md-toggle=search]:checked~.md-header .md-search__inner {
        width: 34.4rem;
        position: absolute;
        right: 0;
        transition: width ease-in-out .5s;
    }
    [data-md-color-primary=white] .md-tabs {
        border-bottom: none;
    }
    .md-content {
        max-width: calc(100% - 10.1rem * 2);
    }
    .md-tabs.md-tabs--active {
        display: flex;
        justify-content: center;
    }
}

.md-nav--primary, .md-nav--primary .md-nav {
    z-index: 999;
}

.md-sidebar {
    width: 11rem;
    top: 2.4rem !important;
    padding: 0;
}

.md-sidebar.md-sidebar--secondary {
    direction: rtl;
    text-align: left;
}

.md-sidebar.md-sidebar .md-sidebar__scrollwrap {
    height: 100%;
    padding: 1.2rem 0;
    direction: ltr;
}

.md-sidebar.md-sidebar--primary .md-sidebar__scrollwrap {
    box-shadow: inset -1px 0 0 0 rgba(0, 0, 0, 0.07), 1px 0 0 0 rgba(0, 0, 0, 0.07);
}

.md-sidebar.md-sidebar--secondary .md-sidebar__scrollwrap {
    padding: 1.2rem 0;
    #box-shadow: inset 2px 0 0 0 rgba(0, 0, 0, 0.07), 0 0 0 0 rgba(0, 0, 0, 0.07);
}


.md-sidebar.md-sidebar .md-sidebar__inner {
    direction: ltr;
}

/* Update date */
.md-source-date small {
    font-size: 100%;
}

.md-footer-nav {
    background-color: #4a525d;
}

.md-tabs__inner.md-grid {
    display: flex;
    font-size: 0;
}

.md-container__pdf-source {
    display: flex;
    margin: 0 0 0 auto;
}

.md-tabs__item {
    padding: 0;
}

.md-tabs__link {
    color: #fff;
    opacity: 1;
    margin: 0;
    height: 100%;
    padding: 16px .6rem;
}

.md-tabs__link:hover {
    background-color: #008dd6;
    color: #fff;
}


.md-tabs__link--active,
.md-tabs__link--active:hover {
    background-color: #f8f8f8;
    color: #1e96dc;
}

/* code block */
.md-typeset pre {
    background-color: var(--md-code-bg-color);
}

.md-typeset pre>code {
    margin-right: 2rem;
    outline: none;
}

.md-typeset a {
    color: #1e96dc;
}

.md-typeset a:focus, .md-typeset a:hover {
    color: #1e96dc;
    opacity: 0.8;
}


/* pdf link in header  */
.navixy-pdf-link-div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navixy-pdf-link-div a {
    background-image: url(../images/pdf-icon.png);
    background-size: 30px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0.7;
    display: block;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.navixy-pdf-link-div a:hover {
    filter: grayscale(50%);
    -webkit-filter: grayscale(50%);
    color: white;
    opacity: 1;
}

/* repository link */

.md-source {
    opacity: .7;
}
.md-source:hover {
    opacity: 1;
}
.md-source__repository {
    display: none;
}

.md-source__icon {
    width: 1.8rem;
}

.md-source__icon svg {
    margin: 0.6rem 0 0.6rem auto;
}

.md-typeset h1, .md-typeset h2, .md-typeset h3 {
    font-weight: 600;
    letter-spacing: normal;
}

.md-typeset h4 {
  font-size: 1.1em;
  color: #555
}

.md-nav__link {
	padding-right: 6px;
}

.md-nav__item .md-nav__link--active {
  color: #1e96dc;
  font-weight: bold;
}

.md-typeset code, .md-typeset kbd, .md-typeset pre {
  color:#000;
}

.md-typeset code {
  font-size:0.95em;
}

.md-top {
  color:#fff;
  bottom: 1rem;
  margin: -2.8rem 1rem 1rem;
}

.md-nav__icon.md-icon {
  display:none;
}

.md-nav__item--nested .md-nav__toggle:checked~.md-nav__link .md-nav__icon {
  display:block;
}


.md-typeset {
  font-size: 0.75rem;
}

.md-footer-copyright {
  display: none;
}
