root = true

[*]
charset = utf-8
indent_size = 2
tab_width = 2
trim_trailing_whitespace = true

[*.bat]
end_of_line = crlf

[*.{bash,sh,zsh}]
end_of_line = lf

[*.md]
trim_trailing_whitespace = false
