site_name: B2Field Developer Documentation
site_url: https://b2field.com/support/api/
site_author: B2Field Team
site_description: >-
  API and technical documentation for developers and partners.
  Feel free to use our comprehensive REST API to integrate B2Field with CRMs,
  ERPs or any other 3rd party tools. You can also use it to build your custom web applications.

copyright: Copyright &copy; 2020 B2Field

use_directory_urls: true
#strict: true - disabled to use --dirtyreload option. Enabled in build script.
docs_dir: docs

repo_name: SquareGPS/navixy-api
repo_url: https://github.com/SquareGPS/navixy-api

theme:
  name: material
  custom_dir: theme
  favicon: assets/images/favicon.ico
  icon:
    repo: fontawesome/brands/github
  palette:
    scheme: default
    primary: white
    accent: blue
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - tabs
  language: en

plugins:
  - search:
      separator: '[\s\.]+'
  - macros
  - minify:
      minify_html: true
      minify_js: true
      htmlmin_opts:
        remove_comments: true
  - git-revision-date-localized:
      type: date
      fallback_to_build_date: true
  - awesome-pages:
      filename: .pages.yml
      collapse_single_pages: false
      strict: true
  - pdf-export:
      combined: true
      combined_output_path: full-navixy-api-documentation.pdf
      theme_handler_path: theme/pdf-theme-handler.py
      media_type: print
      enabled_if_env: ENABLE_PDF_EXPORT

extra:
  #manifest: manifest.webmanifest todo
  repo_icon: github
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/SquareGPS
    - icon: fontawesome/brands/facebook
      link: https://www.facebook.com/B2Field/
    - icon: fontawesome/brands/instagram
      link: https://instagram.com/squaregps
    - icon: fontawesome/regular/address-card
      link: https://b2field.com/contacts/
      name: Contacts
  api_example_url: https://api.navixy.com/v2/fsm

extra_css:
  - assets/stylesheets/extra.css

markdown_extensions:
  - markdown.extensions.admonition
  - markdown.extensions.codehilite:
      guess_lang: false
  - markdown.extensions.meta
  - markdown.extensions.toc:
      permalink: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.magiclink:
      repo_url_shortener: true
      repo_url_shorthand: true
      social_url_shorthand: true
      user: SquareGPS
      repo: navixy-api
  - pymdownx.superfences
  - pymdownx.tabbed

# Enable analytics block to include scripts from /partial/integrations/analytics.html
google_analytics:
  - UA-XXXXXXXX-X
  - auto
