openapi: 3.0.3
info:
  title: Navixy Backend API
  description: |
    Comprehensive API specification for the Navixy Backend API. This API provides access to GPS tracking, 
    vehicle management, fleet operations, and related telematics services.
    
    ## Authentication
    All endpoints require authentication via a session hash (API key hash). The hash can be provided in three ways:
    1. As a `hash` parameter in the request body (recommended for POST requests)
    2. As a `hash` query parameter (not recommended for production)
    3. As an `Authorization` header: `Authorization: NVX {hash}`
    
    ## Rate Limits
    The API enforces rate limits of 50 requests per second per user and per IP address.
    
    ## Response Format
    All responses follow a standard format:
    - Success: `{success: true, value/list/result: ...}`
    - Error: `{success: false, status: {code: integer, description: string}}`
    
    ## Error Handling
    Errors are returned with appropriate HTTP status codes and include a `status` object with error code and description.
    Common error codes range from 1-100, while resource-specific errors use codes 101-300.
  version: 2.0.0
  contact:
    name: Navixy API Support
  license:
    name: Proprietary

servers:
  - url: https://api.eu.navixy.com/v2
    description: EU Server
  - url: https://api.us.navixy.com/v2
    description: US Server
  - url: https://api.your_domain/v2
    description: On-Premise Installation (replace with your domain)

tags:
  - name: Tracking
    description: Tracker and tracking device management
  - name: Zones
    description: Geofence zone management
  - name: Routes
    description: Route planning and optimization
  - name: Status
    description: Status management
  - name: Assets
    description: Asset tracking
  - name: Geocoding
    description: Geocoding services
  - name: Maps
    description: Map layer management
  - name: Vehicles
    description: Vehicle management
  - name: Drivers
    description: Driver journal management
  - name: Tasks
    description: Field service task management
  - name: Employees
    description: Employee management
  - name: Places
    description: Place/POI management
  - name: Forms
    description: Form management
  - name: Check-ins
    description: Check-in management
  - name: Users
    description: User account management
  - name: Sub-users
    description: Sub-user management
  - name: Tags
    description: Tag management
  - name: Entities
    description: Entity customization
  - name: History
    description: History data retrieval
  - name: Reports
    description: Report management
  - name: Notifications
    description: Notification management
  - name: Plugins
    description: Registration plugin management
  - name: Billing
    description: Billing operations

security:
  - HashAuth: []

paths:
  # Tracker endpoints
  /tracker/read:
    post:
      tags:
        - Tracking
      summary: Get tracker information by ID
      description: Retrieves detailed information about a specific tracker by its ID
      operationId: trackerRead
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                  example: "a6aa75587e5c59c32d347da438505fc3"
                tracker_id:
                  type: integer
                  description: ID of the tracker (aka object_id)
                  example: 123456
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithValue'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/list:
    post:
      tags:
        - Tracking
      summary: List user's trackers
      description: Gets user's trackers with optional filtering by labels
      operationId: trackerList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                  example: "a6aa75587e5c59c32d347da438505fc3"
                labels:
                  type: array
                  description: Optional list of tracker label filters
                  items:
                    type: string
                    minLength: 1
                    maxLength: 60
                  minItems: 1
                  maxItems: 1024
                  example: ["aa", "b"]
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/corrupt:
    post:
      tags:
        - Tracking
      summary: Corrupt tracker
      description: Marks a tracker as corrupted
      operationId: trackerCorrupt
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker to corrupt
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/delete:
    post:
      tags:
        - Tracking
      summary: Delete tracker
      description: Deletes a tracker from the system
      operationId: trackerDelete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker to delete
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/change_phone:
    post:
      tags:
        - Tracking
      summary: Change tracker phone number
      description: Updates the phone number for a tracker
      operationId: trackerChangePhone
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
                - phone
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
                phone:
                  type: string
                  description: New phone number
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/get_diagnostics:
    post:
      tags:
        - Tracking
      summary: Get tracker diagnostics
      description: Retrieves diagnostic information for a tracker
      operationId: trackerGetDiagnostics
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithValue'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/get_fuel:
    post:
      tags:
        - Tracking
      summary: Get tracker fuel information
      description: Retrieves fuel-related data for a tracker
      operationId: trackerGetFuel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithValue'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/get_inputs:
    post:
      tags:
        - Tracking
      summary: Get tracker inputs
      description: Retrieves input sensor data for a tracker
      operationId: trackerGetInputs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithValue'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/batch_get_inputs:
    post:
      tags:
        - Tracking
      summary: Batch get tracker inputs
      description: Retrieves input sensor data for multiple trackers
      operationId: trackerBatchGetInputs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_ids
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_ids:
                  type: array
                  description: Array of tracker IDs
                  items:
                    type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/get_outputs:
    post:
      tags:
        - Tracking
      summary: Get tracker outputs
      description: Retrieves output information for a tracker
      operationId: trackerGetOutputs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithValue'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/batch_get_outputs:
    post:
      tags:
        - Tracking
      summary: Batch get tracker outputs
      description: Retrieves output information for multiple trackers
      operationId: trackerBatchGetOutputs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_ids
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_ids:
                  type: array
                  description: Array of tracker IDs
                  items:
                    type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/output/update:
    post:
      tags:
        - Tracking
      summary: Update tracker output
      description: Updates output settings for a tracker
      operationId: trackerOutputUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/get_last_gps_point:
    post:
      tags:
        - Tracking
      summary: Get last GPS point
      description: Retrieves the last known GPS point for a tracker
      operationId: trackerGetLastGpsPoint
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithValue'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/get_readings:
    post:
      tags:
        - Tracking
      summary: Get tracker readings
      description: Retrieves sensor readings for a tracker
      operationId: trackerGetReadings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithValue'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/get_state:
    post:
      tags:
        - Tracking
      summary: Get tracker state
      description: Retrieves current state information for a tracker
      operationId: trackerGetState
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithValue'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/get_states:
    post:
      tags:
        - Tracking
      summary: Get tracker states
      description: Retrieves state information for multiple trackers
      operationId: trackerGetStates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_ids
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_ids:
                  type: array
                  description: Array of tracker IDs
                  items:
                    type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/list_models:
    post:
      tags:
        - Tracking
      summary: List tracker models
      description: Retrieves a list of available tracker models
      operationId: trackerListModels
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/tags/set:
    post:
      tags:
        - Tracking
      summary: Set tracker tags
      description: Sets tags for a tracker
      operationId: trackerTagsSet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/location_request:
    post:
      tags:
        - Tracking
      summary: Request location update
      description: Requests an immediate location update from a tracker
      operationId: trackerLocationRequest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/register:
    post:
      tags:
        - Tracking
      summary: Register tracker
      description: Registers a new tracker in the system
      operationId: trackerRegister
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithValue'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/register_retry:
    post:
      tags:
        - Tracking
      summary: Retry tracker registration
      description: Retries registration of a tracker
      operationId: trackerRegisterRetry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/register_quick:
    post:
      tags:
        - Tracking
      summary: Quick register tracker
      description: Quickly registers a tracker with minimal parameters
      operationId: trackerRegisterQuick
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithValue'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/replace:
    post:
      tags:
        - Tracking
      summary: Replace tracker
      description: Replaces an existing tracker with a new one
      operationId: trackerReplace
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker to replace
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/replace_quick:
    post:
      tags:
        - Tracking
      summary: Quick replace tracker
      description: Quickly replaces a tracker with minimal parameters
      operationId: trackerReplaceQuick
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker to replace
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/replace_retry:
    post:
      tags:
        - Tracking
      summary: Retry tracker replacement
      description: Retries replacement of a tracker
      operationId: trackerReplaceRetry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker to replace
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/send_command:
    post:
      tags:
        - Tracking
      summary: Send command to tracker
      description: Sends a command to a tracker device
      operationId: trackerSendCommand
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/raw_command/send:
    post:
      tags:
        - Tracking
      summary: Send raw command to tracker
      description: Sends a raw command string to a tracker device
      operationId: trackerRawCommandSend
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  # Tracker sub-resources
  /tracker/group/assign:
    post:
      tags:
        - Tracking
      summary: Assign tracker to group
      description: Assigns a tracker to a group
      operationId: trackerGroupAssign
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
                - group_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
                group_id:
                  type: integer
                  description: ID of the group
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/group/create:
    post:
      tags:
        - Tracking
      summary: Create tracker group
      description: Creates a new tracker group
      operationId: trackerGroupCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithValue'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/group/delete:
    post:
      tags:
        - Tracking
      summary: Delete tracker group
      description: Deletes a tracker group
      operationId: trackerGroupDelete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - group_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                group_id:
                  type: integer
                  description: ID of the group to delete
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/group/list:
    post:
      tags:
        - Tracking
      summary: List tracker groups
      description: Retrieves a list of tracker groups
      operationId: trackerGroupList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/group/update:
    post:
      tags:
        - Tracking
      summary: Update tracker group
      description: Updates a tracker group
      operationId: trackerGroupUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - group_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                group_id:
                  type: integer
                  description: ID of the group to update
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/sensor/input_name/list:
    post:
      tags:
        - Tracking
      summary: List sensor input names
      description: Retrieves a list of sensor input names for a tracker
      operationId: trackerSensorInputNameList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/sensor/calibration_data/read:
    post:
      tags:
        - Tracking
      summary: Read sensor calibration data
      description: Reads calibration data for a sensor
      operationId: trackerSensorCalibrationDataRead
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithValue'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/sensor/calibration_data/update:
    post:
      tags:
        - Tracking
      summary: Update sensor calibration data
      description: Updates calibration data for a sensor
      operationId: trackerSensorCalibrationDataUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/sensor/calibration_data/upload_omnicomm:
    post:
      tags:
        - Tracking
      summary: Upload Omnicomm calibration data
      description: Uploads Omnicomm calibration data for a sensor
      operationId: trackerSensorCalibrationDataUploadOmnicomm
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/settings/read:
    post:
      tags:
        - Tracking
      summary: Read tracker settings
      description: Retrieves settings for a tracker
      operationId: trackerSettingsRead
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithValue'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/settings/update:
    post:
      tags:
        - Tracking
      summary: Update tracker settings
      description: Updates settings for a tracker
      operationId: trackerSettingsUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/settings/tracking/read:
    post:
      tags:
        - Tracking
      summary: Read tracker tracking settings
      description: Retrieves tracking settings for a tracker
      operationId: trackerSettingsTrackingRead
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithValue'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/settings/tracking/update:
    post:
      tags:
        - Tracking
      summary: Update tracker tracking settings
      description: Updates tracking settings for a tracker
      operationId: trackerSettingsTrackingUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/settings/lbs/read:
    post:
      tags:
        - Tracking
      summary: Read tracker LBS settings
      description: Retrieves LBS (Location Based Services) settings for a tracker
      operationId: trackerSettingsLbsRead
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithValue'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/settings/lbs/update:
    post:
      tags:
        - Tracking
      summary: Update tracker LBS settings
      description: Updates LBS (Location Based Services) settings for a tracker
      operationId: trackerSettingsLbsUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/rule/bind:
    post:
      tags:
        - Tracking
      summary: Bind rule to tracker
      description: Binds a rule to a tracker
      operationId: trackerRuleBind
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
                - rule_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
                rule_id:
                  type: integer
                  description: ID of the rule
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/rule/create:
    post:
      tags:
        - Tracking
      summary: Create tracker rule
      description: Creates a new rule for trackers
      operationId: trackerRuleCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithValue'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/rule/delete:
    post:
      tags:
        - Tracking
      summary: Delete tracker rule
      description: Deletes a tracker rule
      operationId: trackerRuleDelete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - rule_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                rule_id:
                  type: integer
                  description: ID of the rule to delete
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/rule/list:
    post:
      tags:
        - Tracking
      summary: List tracker rules
      description: Retrieves a list of tracker rules
      operationId: trackerRuleList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/rule/unbind:
    post:
      tags:
        - Tracking
      summary: Unbind rule from tracker
      description: Unbinds a rule from a tracker
      operationId: trackerRuleUnbind
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
                - rule_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
                rule_id:
                  type: integer
                  description: ID of the rule
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/rule/update:
    post:
      tags:
        - Tracking
      summary: Update tracker rule
      description: Updates a tracker rule
      operationId: trackerRuleUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - rule_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                rule_id:
                  type: integer
                  description: ID of the rule to update
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/stats/mileage/read:
    post:
      tags:
        - Tracking
      summary: Read tracker mileage statistics
      description: Retrieves mileage statistics for a tracker
      operationId: trackerStatsMileageRead
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithValue'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/avatar/upload:
    post:
      tags:
        - Tracking
      summary: Upload tracker avatar
      description: Uploads an avatar image for a tracker
      operationId: trackerAvatarUpload
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - hash
                - tracker_id
                - file
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
                file:
                  type: string
                  format: binary
                  description: Avatar image file
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/output/set_all:
    post:
      tags:
        - Tracking
      summary: Set all tracker outputs
      description: Sets all outputs for a tracker
      operationId: trackerOutputSetAll
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/output/set:
    post:
      tags:
        - Tracking
      summary: Set tracker output
      description: Sets a specific output for a tracker
      operationId: trackerOutputSet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/chat/list:
    post:
      tags:
        - Tracking
      summary: List tracker chat messages
      description: Retrieves chat messages for a tracker
      operationId: trackerChatList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/chat/mark_read_all:
    post:
      tags:
        - Tracking
      summary: Mark all chat messages as read
      description: Marks all chat messages as read for a tracker
      operationId: trackerChatMarkReadAll
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/chat/mark_read:
    post:
      tags:
        - Tracking
      summary: Mark chat message as read
      description: Marks a specific chat message as read
      operationId: trackerChatMarkRead
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
                - message_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
                message_id:
                  type: integer
                  description: ID of the message
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/chat/send:
    post:
      tags:
        - Tracking
      summary: Send chat message
      description: Sends a chat message to a tracker
      operationId: trackerChatSend
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
                - message
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
                message:
                  type: string
                  description: Message text
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/chat/broadcast:
    post:
      tags:
        - Tracking
      summary: Broadcast chat message
      description: Broadcasts a chat message to multiple trackers
      operationId: trackerChatBroadcast
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_ids
                - message
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_ids:
                  type: array
                  description: Array of tracker IDs
                  items:
                    type: integer
                message:
                  type: string
                  description: Message text
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/chat/updated/list:
    post:
      tags:
        - Tracking
      summary: List updated chat messages
      description: Retrieves updated chat messages for a tracker
      operationId: trackerChatUpdatedList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/chat/unread/count:
    post:
      tags:
        - Tracking
      summary: Get unread chat message count
      description: Retrieves the count of unread chat messages for a tracker
      operationId: trackerChatUnreadCount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithValue'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/counter/read:
    post:
      tags:
        - Tracking
      summary: Read tracker counter
      description: Reads counter information for a tracker
      operationId: trackerCounterRead
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithValue'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/counter/update:
    post:
      tags:
        - Tracking
      summary: Update tracker counter
      description: Updates counter information for a tracker
      operationId: trackerCounterUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/counter/get_counters:
    post:
      tags:
        - Tracking
      summary: Get tracker counters
      description: Retrieves all counters for a tracker
      operationId: trackerCounterGetCounters
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/counter/value/get:
    post:
      tags:
        - Tracking
      summary: Get tracker counter value
      description: Retrieves a specific counter value for a tracker
      operationId: trackerCounterValueGet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithValue'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/counter/value/list:
    post:
      tags:
        - Tracking
      summary: List tracker counter values
      description: Retrieves a list of counter values for a tracker
      operationId: trackerCounterValueList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/counter/value/set:
    post:
      tags:
        - Tracking
      summary: Set tracker counter value
      description: Sets a counter value for a tracker
      operationId: trackerCounterValueSet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /tracker/counter/data/read:
    post:
      tags:
        - Tracking
      summary: Read tracker counter data
      description: Reads counter data for a tracker
      operationId: trackerCounterDataRead
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithValue'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  # Zone endpoints
  /zone/batch_convert:
    post:
      tags:
        - Zones
      summary: Batch convert zones
      description: Converts multiple zones in batch
      operationId: zoneBatchConvert
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - zone_ids
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                zone_ids:
                  type: array
                  description: Array of zone IDs to convert
                  items:
                    type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  /zone/create:
    post:
      tags:
        - Zones
      summary: Create zone
      description: Creates a new geofence zone
      operationId: zoneCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithValue'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  /zone/delete:
    post:
      tags:
        - Zones
      summary: Delete zone
      description: Deletes a geofence zone
      operationId: zoneDelete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - zone_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                zone_id:
                  type: integer
                  description: ID of the zone to delete
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /zone/list:
    post:
      tags:
        - Zones
      summary: List zones
      description: Retrieves a list of geofence zones
      operationId: zoneList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  /zone/read:
    post:
      tags:
        - Zones
      summary: Read zone
      description: Retrieves information about a specific zone
      operationId: zoneRead
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - zone_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                zone_id:
                  type: integer
                  description: ID of the zone
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithValue'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /zone/search_location:
    post:
      tags:
        - Zones
      summary: Search zones by location
      description: Searches for zones at a specific location
      operationId: zoneSearchLocation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - lat
                - lon
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                lat:
                  type: number
                  format: float
                  description: Latitude
                lon:
                  type: number
                  format: float
                  description: Longitude
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  /zone/update:
    post:
      tags:
        - Zones
      summary: Update zone
      description: Updates a geofence zone
      operationId: zoneUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - zone_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                zone_id:
                  type: integer
                  description: ID of the zone to update
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /zone/upload:
    post:
      tags:
        - Zones
      summary: Upload zones
      description: Uploads zones from a file
      operationId: zoneUpload
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - hash
                - file
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                file:
                  type: string
                  format: binary
                  description: Zone file to upload
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  /zone/download:
    post:
      tags:
        - Zones
      summary: Download zones
      description: Downloads zones to a file
      operationId: zoneDownload
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - zone_ids
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                zone_ids:
                  type: array
                  description: Array of zone IDs to download
                  items:
                    type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  # Track endpoints
  /track/list:
    post:
      tags:
        - Tracking
      summary: List tracks
      description: Gets track lists for a tracker with optional filtering
      operationId: trackList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
                from:
                  type: string
                  format: date-time
                  description: Start date/time for track points
                to:
                  type: string
                  format: date-time
                  description: End date/time for track points
                filter:
                  type: boolean
                  description: If true, returned tracks will be filtered (default true)
                  default: true
                count_events:
                  type: boolean
                  description: If true, count events during each trip
                  default: false
                with_points:
                  type: boolean
                  description: If true, track point lists will be included
                  default: false
                point_limit:
                  type: integer
                  description: Maximum number of points to return (min 2, max 3000)
                  minimum: 2
                  maximum: 3000
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  limit_exceeded:
                    type: boolean
                    description: true if requested time period exceeds tariff limit
                  list:
                    type: array
                    items:
                      $ref: '#/components/schemas/TrackInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /track/read:
    post:
      tags:
        - Tracking
      summary: Get track by ID
      description: Gets track points for a specific track ID
      operationId: trackRead
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
                - track_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
                track_id:
                  type: integer
                  description: ID of the track
                from:
                  type: string
                  format: date-time
                  description: Start date/time for track points
                to:
                  type: string
                  format: date-time
                  description: End date/time for track points
                filter:
                  type: boolean
                  description: If true, returned tracks will be filtered
                  default: true
                simplify:
                  type: boolean
                  description: If true, apply track simplification
                  default: true
                include_gsm_lbs:
                  type: boolean
                  description: If true, include GSM LBS points
                  default: true
                point_limit:
                  type: integer
                  description: Maximum number of points to return (min 2, max 3000)
                  minimum: 2
                  maximum: 3000
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  limit_exceeded:
                    type: boolean
                    description: true if requested time period exceeds tariff limit
                  list:
                    type: array
                    items:
                      $ref: '#/components/schemas/TrackPoint'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /track/waybill/download:
    post:
      tags:
        - Tracking
      summary: Download waybill
      description: Downloads a waybill for track data
      operationId: trackWaybillDownload
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - tracker_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                tracker_id:
                  type: integer
                  description: ID of the tracker
      responses:
        '200':
          description: Successful response
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  # Route endpoints
  /route/google/get:
    post:
      tags:
        - Routes
      summary: Get Google route
      description: Retrieves route information from Google routing service
      operationId: routeGoogleGet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithValue'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  /route/osrm/get:
    post:
      tags:
        - Routes
      summary: Get OSRM route
      description: Retrieves route information from OSRM routing service
      operationId: routeOsrmGet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithValue'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  /route/progorod/get:
    post:
      tags:
        - Routes
      summary: Get Progorod route
      description: Retrieves route information from Progorod routing service
      operationId: routeProgorodGet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithValue'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  # Status endpoints
  /status/create:
    post:
      tags:
        - Status
      summary: Create status
      description: Creates a new status
      operationId: statusCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithValue'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  /status/delete:
    post:
      tags:
        - Status
      summary: Delete status
      description: Deletes a status
      operationId: statusDelete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - status_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                status_id:
                  type: integer
                  description: ID of the status to delete
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /status/list:
    post:
      tags:
        - Status
      summary: List statuses
      description: Retrieves a list of statuses
      operationId: statusList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  /status/update:
    post:
      tags:
        - Status
      summary: Update status
      description: Updates a status
      operationId: statusUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - status_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                status_id:
                  type: integer
                  description: ID of the status to update
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /status/listing/create:
    post:
      tags:
        - Status
      summary: Create status listing
      description: Creates a new status listing
      operationId: statusListingCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithValue'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  /status/listing/delete:
    post:
      tags:
        - Status
      summary: Delete status listing
      description: Deletes a status listing
      operationId: statusListingDelete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - listing_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                listing_id:
                  type: integer
                  description: ID of the listing to delete
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /status/listing/list:
    post:
      tags:
        - Status
      summary: List status listings
      description: Retrieves a list of status listings
      operationId: statusListingList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseWithList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  /status/listing/update:
    post:
      tags:
        - Status
      summary: Update status listing
      description: Updates a status listing
      operationId: statusListingUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
                - listing_id
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
                listing_id:
                  type: integer
                  description: ID of the listing to update
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  # Asset endpoints
  /asset_group/create:
    post:
      tags:
        - Assets
      summary: Create asset group
      description: Creates a new asset group
      operationId: assetGroupCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
              properties:
                hash:
                  type: string
                  description: Session hash for authentication
      responses:
[...]
