{
  "openapi": "3.0.3",
  "info": {
    "title": "Navixy Backend API",
    "description": "OpenAPI specification for the Navixy Backend API. Covers all resources and endpoints from the Backend API (base path /v2). Authentication via session hash (API key). Rate limit: 50 req/s per user and per IP. Responses: success with value/list/result or error with status code and description.",
    "version": "2.0.0",
    "contact": {
      "name": "Navixy API Support"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://api.eu.navixy.com/v2",
      "description": "EU Server"
    },
    {
      "url": "https://api.us.navixy.com/v2",
      "description": "US Server"
    },
    {
      "url": "https://api.your_domain/v2",
      "description": "On-Premise"
    }
  ],
  "tags": [
    {
      "name": "Tracking",
      "description": "Tracker and tracking device management"
    },
    {
      "name": "Zones",
      "description": "Geofence zone management"
    },
    {
      "name": "Routes",
      "description": "Routes, tracks, route planning"
    },
    {
      "name": "Status",
      "description": "Status management"
    },
    {
      "name": "Assets",
      "description": "Asset tracking"
    },
    {
      "name": "Beacons",
      "description": "Beacon data"
    },
    {
      "name": "Geocoding",
      "description": "Geocoding services"
    },
    {
      "name": "Maps",
      "description": "Map layer management"
    },
    {
      "name": "Vehicles",
      "description": "Vehicle management"
    },
    {
      "name": "Drivers",
      "description": "Driver journal"
    },
    {
      "name": "Tasks",
      "description": "Field service tasks"
    },
    {
      "name": "Employees",
      "description": "Employee management"
    },
    {
      "name": "Places",
      "description": "Place/POI management"
    },
    {
      "name": "Forms",
      "description": "Form management"
    },
    {
      "name": "Check-ins",
      "description": "Check-in management"
    },
    {
      "name": "Users",
      "description": "User account management"
    },
    {
      "name": "Sub-users",
      "description": "Sub-user management"
    },
    {
      "name": "Tags",
      "description": "Tag management"
    },
    {
      "name": "Entities",
      "description": "Entity customization"
    },
    {
      "name": "History",
      "description": "History data"
    },
    {
      "name": "Reports",
      "description": "Report schedules"
    },
    {
      "name": "Notifications",
      "description": "Notifications"
    },
    {
      "name": "Plugins",
      "description": "Registration plugins"
    },
    {
      "name": "Billing",
      "description": "Billing operations"
    },
    {
      "name": "Commons",
      "description": "Common resources (file, dealer, timezone, etc.)"
    }
  ],
  "security": [
    {
      "HashAuth": []
    }
  ],
  "paths": {
    "/tracker/read": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_read",
        "description": "Backend API endpoint: POST /tracker/read",
        "operationId": "tracker_read",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/list": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_list",
        "description": "Backend API endpoint: POST /tracker/list",
        "operationId": "tracker_list",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/corrupt": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_corrupt",
        "description": "Backend API endpoint: POST /tracker/corrupt",
        "operationId": "tracker_corrupt",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/delete": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_delete",
        "description": "Backend API endpoint: POST /tracker/delete",
        "operationId": "tracker_delete",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/change_phone": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_change_phone",
        "description": "Backend API endpoint: POST /tracker/change_phone",
        "operationId": "tracker_change_phone",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/get_diagnostics": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_get_diagnostics",
        "description": "Backend API endpoint: POST /tracker/get_diagnostics",
        "operationId": "tracker_get_diagnostics",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/get_fuel": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_get_fuel",
        "description": "Backend API endpoint: POST /tracker/get_fuel",
        "operationId": "tracker_get_fuel",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/get_inputs": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_get_inputs",
        "description": "Backend API endpoint: POST /tracker/get_inputs",
        "operationId": "tracker_get_inputs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/batch_get_inputs": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_batch_get_inputs",
        "description": "Backend API endpoint: POST /tracker/batch_get_inputs",
        "operationId": "tracker_batch_get_inputs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/get_outputs": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_get_outputs",
        "description": "Backend API endpoint: POST /tracker/get_outputs",
        "operationId": "tracker_get_outputs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/batch_get_outputs": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_batch_get_outputs",
        "description": "Backend API endpoint: POST /tracker/batch_get_outputs",
        "operationId": "tracker_batch_get_outputs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/output/update": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_output_update",
        "description": "Backend API endpoint: POST /tracker/output/update",
        "operationId": "tracker_output_update",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/get_last_gps_point": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_get_last_gps_point",
        "description": "Backend API endpoint: POST /tracker/get_last_gps_point",
        "operationId": "tracker_get_last_gps_point",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/get_readings": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_get_readings",
        "description": "Backend API endpoint: POST /tracker/get_readings",
        "operationId": "tracker_get_readings",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/get_state": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_get_state",
        "description": "Backend API endpoint: POST /tracker/get_state",
        "operationId": "tracker_get_state",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/get_states": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_get_states",
        "description": "Backend API endpoint: POST /tracker/get_states",
        "operationId": "tracker_get_states",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/list_models": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_list_models",
        "description": "Backend API endpoint: POST /tracker/list_models",
        "operationId": "tracker_list_models",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/tags/set": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_tags_set",
        "description": "Backend API endpoint: POST /tracker/tags/set",
        "operationId": "tracker_tags_set",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/location_request": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_location_request",
        "description": "Backend API endpoint: POST /tracker/location_request",
        "operationId": "tracker_location_request",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/register": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_register",
        "description": "Backend API endpoint: POST /tracker/register",
        "operationId": "tracker_register",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/register_retry": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_register_retry",
        "description": "Backend API endpoint: POST /tracker/register_retry",
        "operationId": "tracker_register_retry",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/register_quick": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_register_quick",
        "description": "Backend API endpoint: POST /tracker/register_quick",
        "operationId": "tracker_register_quick",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/replace": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_replace",
        "description": "Backend API endpoint: POST /tracker/replace",
        "operationId": "tracker_replace",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/replace_quick": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_replace_quick",
        "description": "Backend API endpoint: POST /tracker/replace_quick",
        "operationId": "tracker_replace_quick",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/replace_retry": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_replace_retry",
        "description": "Backend API endpoint: POST /tracker/replace_retry",
        "operationId": "tracker_replace_retry",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/send_command": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_send_command",
        "description": "Backend API endpoint: POST /tracker/send_command",
        "operationId": "tracker_send_command",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/raw_command/send": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_raw_command_send",
        "description": "Backend API endpoint: POST /tracker/raw_command/send",
        "operationId": "tracker_raw_command_send",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/group/assign": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_group_assign",
        "description": "Backend API endpoint: POST /tracker/group/assign",
        "operationId": "tracker_group_assign",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/group/create": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_group_create",
        "description": "Backend API endpoint: POST /tracker/group/create",
        "operationId": "tracker_group_create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/group/delete": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_group_delete",
        "description": "Backend API endpoint: POST /tracker/group/delete",
        "operationId": "tracker_group_delete",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/group/list": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_group_list",
        "description": "Backend API endpoint: POST /tracker/group/list",
        "operationId": "tracker_group_list",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/group/update": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_group_update",
        "description": "Backend API endpoint: POST /tracker/group/update",
        "operationId": "tracker_group_update",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/sensor/input_name/list": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_sensor_input_name_list",
        "description": "Backend API endpoint: POST /tracker/sensor/input_name/list",
        "operationId": "tracker_sensor_input_name_list",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/sensor/calibration_data/read": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_sensor_calibration_data_read",
        "description": "Backend API endpoint: POST /tracker/sensor/calibration_data/read",
        "operationId": "tracker_sensor_calibration_data_read",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/sensor/calibration_data/update": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_sensor_calibration_data_update",
        "description": "Backend API endpoint: POST /tracker/sensor/calibration_data/update",
        "operationId": "tracker_sensor_calibration_data_update",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/sensor/calibration_data/upload_omnicomm": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_sensor_calibration_data_upload_omnicomm",
        "description": "Backend API endpoint: POST /tracker/sensor/calibration_data/upload_omnicomm",
        "operationId": "tracker_sensor_calibration_data_upload_omnicomm",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/settings/read": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_settings_read",
        "description": "Backend API endpoint: POST /tracker/settings/read",
        "operationId": "tracker_settings_read",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/settings/update": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_settings_update",
        "description": "Backend API endpoint: POST /tracker/settings/update",
        "operationId": "tracker_settings_update",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/settings/tracking/read": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_settings_tracking_read",
        "description": "Backend API endpoint: POST /tracker/settings/tracking/read",
        "operationId": "tracker_settings_tracking_read",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/settings/tracking/update": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_settings_tracking_update",
        "description": "Backend API endpoint: POST /tracker/settings/tracking/update",
        "operationId": "tracker_settings_tracking_update",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/settings/lbs/read": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_settings_lbs_read",
        "description": "Backend API endpoint: POST /tracker/settings/lbs/read",
        "operationId": "tracker_settings_lbs_read",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/settings/lbs/update": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_settings_lbs_update",
        "description": "Backend API endpoint: POST /tracker/settings/lbs/update",
        "operationId": "tracker_settings_lbs_update",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/rule/bind": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_rule_bind",
        "description": "Backend API endpoint: POST /tracker/rule/bind",
        "operationId": "tracker_rule_bind",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/rule/create": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_rule_create",
        "description": "Backend API endpoint: POST /tracker/rule/create",
        "operationId": "tracker_rule_create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/rule/delete": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_rule_delete",
        "description": "Backend API endpoint: POST /tracker/rule/delete",
        "operationId": "tracker_rule_delete",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/rule/list": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_rule_list",
        "description": "Backend API endpoint: POST /tracker/rule/list",
        "operationId": "tracker_rule_list",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/rule/unbind": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_rule_unbind",
        "description": "Backend API endpoint: POST /tracker/rule/unbind",
        "operationId": "tracker_rule_unbind",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/rule/update": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_rule_update",
        "description": "Backend API endpoint: POST /tracker/rule/update",
        "operationId": "tracker_rule_update",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/stats/mileage/read": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_stats_mileage_read",
        "description": "Backend API endpoint: POST /tracker/stats/mileage/read",
        "operationId": "tracker_stats_mileage_read",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/avatar/upload": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_avatar_upload",
        "description": "Backend API endpoint: POST /tracker/avatar/upload",
        "operationId": "tracker_avatar_upload",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/output/set_all": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_output_set_all",
        "description": "Backend API endpoint: POST /tracker/output/set_all",
        "operationId": "tracker_output_set_all",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/output/set": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_output_set",
        "description": "Backend API endpoint: POST /tracker/output/set",
        "operationId": "tracker_output_set",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/chat/list": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_chat_list",
        "description": "Backend API endpoint: POST /tracker/chat/list",
        "operationId": "tracker_chat_list",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/chat/mark_read_all": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_chat_mark_read_all",
        "description": "Backend API endpoint: POST /tracker/chat/mark_read_all",
        "operationId": "tracker_chat_mark_read_all",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/chat/mark_read": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_chat_mark_read",
        "description": "Backend API endpoint: POST /tracker/chat/mark_read",
        "operationId": "tracker_chat_mark_read",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/chat/send": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_chat_send",
        "description": "Backend API endpoint: POST /tracker/chat/send",
        "operationId": "tracker_chat_send",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/chat/broadcast": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_chat_broadcast",
        "description": "Backend API endpoint: POST /tracker/chat/broadcast",
        "operationId": "tracker_chat_broadcast",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/chat/updated/list": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_chat_updated_list",
        "description": "Backend API endpoint: POST /tracker/chat/updated/list",
        "operationId": "tracker_chat_updated_list",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/chat/unread/count": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_chat_unread_count",
        "description": "Backend API endpoint: POST /tracker/chat/unread/count",
        "operationId": "tracker_chat_unread_count",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/counter/read": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_counter_read",
        "description": "Backend API endpoint: POST /tracker/counter/read",
        "operationId": "tracker_counter_read",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/counter/update": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_counter_update",
        "description": "Backend API endpoint: POST /tracker/counter/update",
        "operationId": "tracker_counter_update",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/counter/get_counters": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_counter_get_counters",
        "description": "Backend API endpoint: POST /tracker/counter/get_counters",
        "operationId": "tracker_counter_get_counters",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/counter/value/get": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_counter_value_get",
        "description": "Backend API endpoint: POST /tracker/counter/value/get",
        "operationId": "tracker_counter_value_get",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/counter/value/list": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_counter_value_list",
        "description": "Backend API endpoint: POST /tracker/counter/value/list",
        "operationId": "tracker_counter_value_list",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/counter/value/set": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_counter_value_set",
        "description": "Backend API endpoint: POST /tracker/counter/value/set",
        "operationId": "tracker_counter_value_set",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/counter/data/read": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_counter_data_read",
        "description": "Backend API endpoint: POST /tracker/counter/data/read",
        "operationId": "tracker_counter_data_read",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/zone/batch_convert": {
      "post": {
        "tags": [
          "Zones"
        ],
        "summary": "zone_batch_convert",
        "description": "Backend API endpoint: POST /zone/batch_convert",
        "operationId": "zone_batch_convert",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/zone/create": {
      "post": {
        "tags": [
          "Zones"
        ],
        "summary": "zone_create",
        "description": "Backend API endpoint: POST /zone/create",
        "operationId": "zone_create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/zone/delete": {
      "post": {
        "tags": [
          "Zones"
        ],
        "summary": "zone_delete",
        "description": "Backend API endpoint: POST /zone/delete",
        "operationId": "zone_delete",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/zone/list": {
      "post": {
        "tags": [
          "Zones"
        ],
        "summary": "zone_list",
        "description": "Backend API endpoint: POST /zone/list",
        "operationId": "zone_list",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/zone/read": {
      "post": {
        "tags": [
          "Zones"
        ],
        "summary": "zone_read",
        "description": "Backend API endpoint: POST /zone/read",
        "operationId": "zone_read",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/zone/search_location": {
      "post": {
        "tags": [
          "Zones"
        ],
        "summary": "zone_search_location",
        "description": "Backend API endpoint: POST /zone/search_location",
        "operationId": "zone_search_location",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/zone/update": {
      "post": {
        "tags": [
          "Zones"
        ],
        "summary": "zone_update",
        "description": "Backend API endpoint: POST /zone/update",
        "operationId": "zone_update",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/zone/upload": {
      "post": {
        "tags": [
          "Zones"
        ],
        "summary": "zone_upload",
        "description": "Backend API endpoint: POST /zone/upload",
        "operationId": "zone_upload",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/zone/download": {
      "post": {
        "tags": [
          "Zones"
        ],
        "summary": "zone_download",
        "description": "Backend API endpoint: POST /zone/download",
        "operationId": "zone_download",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/track/list": {
      "post": {
        "tags": [
          "Routes"
        ],
        "summary": "track_list",
        "description": "Backend API endpoint: POST /track/list",
        "operationId": "track_list",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/track/read": {
      "post": {
        "tags": [
          "Routes"
        ],
        "summary": "track_read",
        "description": "Backend API endpoint: POST /track/read",
        "operationId": "track_read",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/track/waybill/download": {
      "post": {
        "tags": [
          "Routes"
        ],
        "summary": "track_waybill_download",
        "description": "Backend API endpoint: POST /track/waybill/download",
        "operationId": "track_waybill_download",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/route/google/get": {
      "post": {
        "tags": [
          "Routes"
        ],
        "summary": "route_google_get",
        "description": "Backend API endpoint: POST /route/google/get",
        "operationId": "route_google_get",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/route/osrm/get": {
      "post": {
        "tags": [
          "Routes"
        ],
        "summary": "route_osrm_get",
        "description": "Backend API endpoint: POST /route/osrm/get",
        "operationId": "route_osrm_get",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/route/progorod/get": {
      "post": {
        "tags": [
          "Routes"
        ],
        "summary": "route_progorod_get",
        "description": "Backend API endpoint: POST /route/progorod/get",
        "operationId": "route_progorod_get",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/status/create": {
      "post": {
        "tags": [
          "Status"
        ],
        "summary": "status_create",
        "description": "Backend API endpoint: POST /status/create",
        "operationId": "status_create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/status/delete": {
      "post": {
        "tags": [
          "Status"
        ],
        "summary": "status_delete",
        "description": "Backend API endpoint: POST /status/delete",
        "operationId": "status_delete",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/status/list": {
      "post": {
        "tags": [
          "Status"
        ],
        "summary": "status_list",
        "description": "Backend API endpoint: POST /status/list",
        "operationId": "status_list",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/status/update": {
      "post": {
        "tags": [
          "Status"
        ],
        "summary": "status_update",
        "description": "Backend API endpoint: POST /status/update",
        "operationId": "status_update",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/status/listing/create": {
      "post": {
        "tags": [
          "Status"
        ],
        "summary": "status_listing_create",
        "description": "Backend API endpoint: POST /status/listing/create",
        "operationId": "status_listing_create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/status/listing/delete": {
      "post": {
        "tags": [
          "Status"
        ],
        "summary": "status_listing_delete",
        "description": "Backend API endpoint: POST /status/listing/delete",
        "operationId": "status_listing_delete",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/status/listing/list": {
      "post": {
        "tags": [
          "Status"
        ],
        "summary": "status_listing_list",
        "description": "Backend API endpoint: POST /status/listing/list",
        "operationId": "status_listing_list",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/status/listing/update": {
      "post": {
        "tags": [
          "Status"
        ],
        "summary": "status_listing_update",
        "description": "Backend API endpoint: POST /status/listing/update",
        "operationId": "status_listing_update",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/asset_group/create": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "asset_group_create",
        "description": "Backend API endpoint: POST /asset_group/create",
        "operationId": "asset_group_create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/asset_group/list": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "asset_group_list",
        "description": "Backend API endpoint: POST /asset_group/list",
        "operationId": "asset_group_list",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/asset_group/set": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "asset_group_set",
        "description": "Backend API endpoint: POST /asset_group/set",
        "operationId": "asset_group_set",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/asset_group/remove": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "asset_group_remove",
        "description": "Backend API endpoint: POST /asset_group/remove",
        "operationId": "asset_group_remove",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/asset_group/update": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "asset_group_update",
        "description": "Backend API endpoint: POST /asset_group/update",
        "operationId": "asset_group_update",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/asset_group/delete": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "asset_group_delete",
        "description": "Backend API endpoint: POST /asset_group/delete",
        "operationId": "asset_group_delete",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/beacon/data/read": {
      "post": {
        "tags": [
          "Beacons"
        ],
        "summary": "beacon_data_read",
        "description": "Backend API endpoint: POST /beacon/data/read",
        "operationId": "beacon_data_read",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/beacon/data/last_values": {
      "post": {
        "tags": [
          "Beacons"
        ],
        "summary": "beacon_data_last_values",
        "description": "Backend API endpoint: POST /beacon/data/last_values",
        "operationId": "beacon_data_last_values",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/geocoder/search_address": {
      "post": {
        "tags": [
          "Geocoding"
        ],
        "summary": "geocoder_search_address",
        "description": "Backend API endpoint: POST /geocoder/search_address",
        "operationId": "geocoder_search_address",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/geocoder/search_location": {
      "post": {
        "tags": [
          "Geocoding"
        ],
        "summary": "geocoder_search_location",
        "description": "Backend API endpoint: POST /geocoder/search_location",
        "operationId": "geocoder_search_location",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/map_layer/read": {
      "post": {
        "tags": [
          "Maps"
        ],
        "summary": "map_layer_read",
        "description": "Backend API endpoint: POST /map_layer/read",
        "operationId": "map_layer_read",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/map_layer/list": {
      "post": {
        "tags": [
          "Maps"
        ],
        "summary": "map_layer_list",
        "description": "Backend API endpoint: POST /map_layer/list",
        "operationId": "map_layer_list",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/map_layer/upload": {
      "post": {
        "tags": [
          "Maps"
        ],
        "summary": "map_layer_upload",
        "description": "Backend API endpoint: POST /map_layer/upload",
        "operationId": "map_layer_upload",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/map_layer/update": {
      "post": {
        "tags": [
          "Maps"
        ],
        "summary": "map_layer_update",
        "description": "Backend API endpoint: POST /map_layer/update",
        "operationId": "map_layer_update",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
[...]
