{
  "openapi": "3.0.3",
  "info": {
    "title": "Navixy Backend API",
    "description": "OpenAPI specification for the Navixy Backend API. Covers all resources and endpoints from the Backend API (base path /v2). Authentication is via session hash (API key) in the request header only; do not send hash in the body. Rate limit: 50 req/s per user and per IP. Responses: success with value/list/result or error with status code and description.",
    "version": "2.0.0",
    "contact": {
      "name": "Navixy API Support"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://api.eu.navixy.com/v2",
      "description": "EU Server"
    },
    {
      "url": "https://api.us.navixy.com/v2",
      "description": "US Server"
    },
    {
      "url": "https://api.your_domain/v2",
      "description": "On-Premise"
    }
  ],
  "tags": [
    {
      "name": "Tracking",
      "description": "Tracker and tracking device management"
    },
    {
      "name": "Zones",
      "description": "Geofence zone management"
    },
    {
      "name": "Routes",
      "description": "Routes, tracks, route planning"
    },
    {
      "name": "Status",
      "description": "Status management"
    },
    {
      "name": "Assets",
      "description": "Asset tracking"
    },
    {
      "name": "Beacons",
      "description": "Beacon data"
    },
    {
      "name": "Geocoding",
      "description": "Geocoding services"
    },
    {
      "name": "Maps",
      "description": "Map layer management"
    },
    {
      "name": "Vehicles",
      "description": "Vehicle management"
    },
    {
      "name": "Drivers",
      "description": "Driver journal"
    },
    {
      "name": "Tasks",
      "description": "Field service tasks"
    },
    {
      "name": "Employees",
      "description": "Employee management"
    },
    {
      "name": "Places",
      "description": "Place/POI management"
    },
    {
      "name": "Forms",
      "description": "Form management"
    },
    {
      "name": "Check-ins",
      "description": "Check-in management"
    },
    {
      "name": "Users",
      "description": "User account management"
    },
    {
      "name": "Sub-users",
      "description": "Sub-user management"
    },
    {
      "name": "Tags",
      "description": "Tag management"
    },
    {
      "name": "Entities",
      "description": "Entity customization"
    },
    {
      "name": "History",
      "description": "History data"
    },
    {
      "name": "Reports",
      "description": "Report schedules"
    },
    {
      "name": "Notifications",
      "description": "Notifications"
    },
    {
      "name": "Plugins",
      "description": "Registration plugins"
    },
    {
      "name": "Billing",
      "description": "Billing operations"
    },
    {
      "name": "Commons",
      "description": "Common resources (file, dealer, timezone, etc.)"
    }
  ],
  "security": [
    {
      "HashAuth": []
    }
  ],
  "paths": {
    "/tracker/read": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_read",
        "description": "Gets tracker info by ID.",
        "operationId": "tracker_read",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RequestBodyBase"
                  },
                  {
                    "$ref": "#/components/schemas/TrackerReadRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkTrackerValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/list": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_list",
        "description": "Gets user's trackers with optional filtering by labels.",
        "operationId": "tracker_list",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkTrackerList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/corrupt": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_corrupt",
        "description": "Marks tracker as deleted and corrupt its source, device_id and phone.",
        "operationId": "tracker_corrupt",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/delete": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_delete",
        "description": "Deletes a tracker if it is a clone. Will not work if specified ID is the original tracker.",
        "operationId": "tracker_delete",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/change_phone": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_change_phone",
        "description": "Changes tracker's phone and sets up new APN.",
        "operationId": "tracker_change_phone",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/get_diagnostics": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_get_diagnostics",
        "description": "Gets last CAN and OBD sensors and states values received from the device.",
        "operationId": "tracker_get_diagnostics",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/get_fuel": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_get_fuel",
        "description": "Gets current fuel level (in liters) of tracker's fuel tanks.",
        "operationId": "tracker_get_fuel",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/get_inputs": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_get_inputs",
        "description": "Gets current state of tracker's digital inputs and semantic inputs (ignition, buttons, car alarms, etc.).",
        "operationId": "tracker_get_inputs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/batch_get_inputs": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_batch_get_inputs",
        "description": "Gets current state of trackers' digital inputs and semantic inputs for multiple trackers.",
        "operationId": "tracker_batch_get_inputs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/get_outputs": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_get_outputs",
        "description": "Gets tracker's outputs info.",
        "operationId": "tracker_get_outputs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/batch_get_outputs": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_batch_get_outputs",
        "description": "Gets trackers' outputs info for multiple trackers.",
        "operationId": "tracker_batch_get_outputs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/output/update": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_output_update",
        "description": "Updates tracker's outputs info.",
        "operationId": "tracker_output_update",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/get_last_gps_point": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_get_last_gps_point",
        "description": "Gets last GPS point of the tracker. Points located by GSM LBS are excluded.",
        "operationId": "tracker_get_last_gps_point",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/get_readings": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_get_readings",
        "description": "Gets last sensor values for sensors that are configured for the tracker.",
        "operationId": "tracker_get_readings",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/get_state": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_get_state",
        "description": "Gets current tracker state (GPS, GSM, outputs, etc.).",
        "operationId": "tracker_get_state",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/get_states": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_get_states",
        "description": "Gets current states (GPS, GSM, outputs, etc.) for several trackers.",
        "operationId": "tracker_get_states",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/list_models": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_list_models",
        "description": "Gets all integrated tracker models from the models table.",
        "operationId": "tracker_list_models",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/tags/set": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_tags_set",
        "description": "Sets tags for a tracker. Tags must already be created.",
        "operationId": "tracker_tags_set",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/location_request": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_location_request",
        "description": "Requests current position from the device. The device must support the requesting function.",
        "operationId": "tracker_location_request",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/register": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_register",
        "description": "Registers a new tracker device and links it with the current API user account.",
        "operationId": "tracker_register",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/register_retry": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_register_retry",
        "description": "Resends registration commands to the device. Requires SMS gateway.",
        "operationId": "tracker_register_retry",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/register_quick": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_register_quick",
        "description": "Registers a new tracker using only IMEI. No automatic SMS commands are sent.",
        "operationId": "tracker_register_quick",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/replace": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_replace",
        "description": "Replaces the device without losing its history and some settings.",
        "operationId": "tracker_replace",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/replace_quick": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_replace_quick",
        "description": "Replaces a device using only IMEI. No automatic SMS commands are sent.",
        "operationId": "tracker_replace_quick",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/replace_retry": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_replace_retry",
        "description": "Resends registration commands to the new device. Requires SMS gateway.",
        "operationId": "tracker_replace_retry",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/send_command": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_send_command",
        "description": "Sends a command to the tracker for special control (determined by tracker model).",
        "operationId": "tracker_send_command",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/raw_command/send": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_raw_command_send",
        "description": "Sends a GPRS command to the device, processed in a protocol-dependent manner.",
        "operationId": "tracker_raw_command_send",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/group/assign": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_group_assign",
        "description": "Backend API endpoint: POST /tracker/group/assign",
        "operationId": "tracker_group_assign",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/group/create": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_group_create",
        "description": "Backend API endpoint: POST /tracker/group/create",
        "operationId": "tracker_group_create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/group/delete": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_group_delete",
        "description": "Backend API endpoint: POST /tracker/group/delete",
        "operationId": "tracker_group_delete",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/group/list": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_group_list",
        "description": "Backend API endpoint: POST /tracker/group/list",
        "operationId": "tracker_group_list",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkGroupList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/group/update": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_group_update",
        "description": "Backend API endpoint: POST /tracker/group/update",
        "operationId": "tracker_group_update",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/sensor/input_name/list": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_sensor_input_name_list",
        "description": "Backend API endpoint: POST /tracker/sensor/input_name/list",
        "operationId": "tracker_sensor_input_name_list",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/sensor/calibration_data/read": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_sensor_calibration_data_read",
        "description": "Gets calibration data for sensor.",
        "operationId": "tracker_sensor_calibration_data_read",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/sensor/calibration_data/update": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_sensor_calibration_data_update",
        "description": "Replaces the calibration data for a sensor.",
        "operationId": "tracker_sensor_calibration_data_update",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/sensor/calibration_data/upload_omnicomm": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_sensor_calibration_data_upload_omnicomm",
        "description": "Replaces the calibration data for a sensor from Omnicomm LLS monitor's XML configuration file. If XML file contains information about multiple sensors, user must specify which sensor number to use.",
        "operationId": "tracker_sensor_calibration_data_upload_omnicomm",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/settings/read": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_settings_read",
        "description": "Backend API endpoint: POST /tracker/settings/read",
        "operationId": "tracker_settings_read",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/settings/update": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_settings_update",
        "description": "Backend API endpoint: POST /tracker/settings/update",
        "operationId": "tracker_settings_update",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/settings/tracking/read": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_settings_tracking_read",
        "description": "Backend API endpoint: POST /tracker/settings/tracking/read",
        "operationId": "tracker_settings_tracking_read",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/settings/tracking/update": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_settings_tracking_update",
        "description": "Backend API endpoint: POST /tracker/settings/tracking/update",
        "operationId": "tracker_settings_tracking_update",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/settings/lbs/read": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_settings_lbs_read",
        "description": "Backend API endpoint: POST /tracker/settings/lbs/read",
        "operationId": "tracker_settings_lbs_read",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/settings/lbs/update": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_settings_lbs_update",
        "description": "Backend API endpoint: POST /tracker/settings/lbs/update",
        "operationId": "tracker_settings_lbs_update",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/rule/bind": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_rule_bind",
        "description": "Backend API endpoint: POST /tracker/rule/bind",
        "operationId": "tracker_rule_bind",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/rule/create": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_rule_create",
        "description": "Backend API endpoint: POST /tracker/rule/create",
        "operationId": "tracker_rule_create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/rule/delete": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_rule_delete",
        "description": "Backend API endpoint: POST /tracker/rule/delete",
        "operationId": "tracker_rule_delete",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/rule/list": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_rule_list",
        "description": "Backend API endpoint: POST /tracker/rule/list",
        "operationId": "tracker_rule_list",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkRuleList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/rule/unbind": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_rule_unbind",
        "description": "Backend API endpoint: POST /tracker/rule/unbind",
        "operationId": "tracker_rule_unbind",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/rule/update": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_rule_update",
        "description": "Backend API endpoint: POST /tracker/rule/update",
        "operationId": "tracker_rule_update",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/stats/mileage/read": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_stats_mileage_read",
        "description": "Backend API endpoint: POST /tracker/stats/mileage/read",
        "operationId": "tracker_stats_mileage_read",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/avatar/upload": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_avatar_upload",
        "description": "Backend API endpoint: POST /tracker/avatar/upload",
        "operationId": "tracker_avatar_upload",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/output/set_all": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_output_set_all",
        "description": "Backend API endpoint: POST /tracker/output/set_all",
        "operationId": "tracker_output_set_all",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/output/set": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_output_set",
        "description": "Backend API endpoint: POST /tracker/output/set",
        "operationId": "tracker_output_set",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/chat/list": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_chat_list",
        "description": "Backend API endpoint: POST /tracker/chat/list",
        "operationId": "tracker_chat_list",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/chat/mark_read_all": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_chat_mark_read_all",
        "description": "Backend API endpoint: POST /tracker/chat/mark_read_all",
        "operationId": "tracker_chat_mark_read_all",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/chat/mark_read": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_chat_mark_read",
        "description": "Backend API endpoint: POST /tracker/chat/mark_read",
        "operationId": "tracker_chat_mark_read",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/chat/send": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_chat_send",
        "description": "Backend API endpoint: POST /tracker/chat/send",
        "operationId": "tracker_chat_send",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/chat/broadcast": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_chat_broadcast",
        "description": "Backend API endpoint: POST /tracker/chat/broadcast",
        "operationId": "tracker_chat_broadcast",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/chat/updated/list": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_chat_updated_list",
        "description": "Backend API endpoint: POST /tracker/chat/updated/list",
        "operationId": "tracker_chat_updated_list",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/chat/unread/count": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_chat_unread_count",
        "description": "Backend API endpoint: POST /tracker/chat/unread/count",
        "operationId": "tracker_chat_unread_count",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/counter/read": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_counter_read",
        "description": "Backend API endpoint: POST /tracker/counter/read",
        "operationId": "tracker_counter_read",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/counter/update": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_counter_update",
        "description": "Backend API endpoint: POST /tracker/counter/update",
        "operationId": "tracker_counter_update",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/counter/get_counters": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_counter_get_counters",
        "description": "Backend API endpoint: POST /tracker/counter/get_counters",
        "operationId": "tracker_counter_get_counters",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/counter/value/get": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_counter_value_get",
        "description": "Backend API endpoint: POST /tracker/counter/value/get",
        "operationId": "tracker_counter_value_get",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/counter/value/list": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_counter_value_list",
        "description": "Backend API endpoint: POST /tracker/counter/value/list",
        "operationId": "tracker_counter_value_list",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/counter/value/set": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_counter_value_set",
        "description": "Backend API endpoint: POST /tracker/counter/value/set",
        "operationId": "tracker_counter_value_set",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tracker/counter/data/read": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "summary": "tracker_counter_data_read",
        "description": "Backend API endpoint: POST /tracker/counter/data/read",
        "operationId": "tracker_counter_data_read",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/zone/batch_convert": {
      "post": {
        "tags": [
          "Zones"
        ],
        "summary": "zone_batch_convert",
        "description": "Convert batch of tab-delimited circle geofences and return list of checked geofences with errors.",
        "operationId": "zone_batch_convert",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/zone/create": {
      "post": {
        "tags": [
          "Zones"
        ],
        "summary": "zone_create",
        "description": "Creates a new geofence.",
        "operationId": "zone_create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/zone/delete": {
      "post": {
        "tags": [
          "Zones"
        ],
        "summary": "zone_delete",
        "description": "Deletes user's geofence by zone_id or array of zone_ids.",
        "operationId": "zone_delete",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/zone/list": {
      "post": {
        "tags": [
          "Zones"
        ],
        "summary": "zone_list",
        "description": "Gets user's geofences (zones).",
        "operationId": "zone_list",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkZoneList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/zone/read": {
      "post": {
        "tags": [
          "Zones"
        ],
        "summary": "zone_read",
        "description": "Gets geofence (zone) by ID.",
        "operationId": "zone_read",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RequestBodyBase"
                  },
                  {
                    "$ref": "#/components/schemas/ZoneReadRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkZoneValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/zone/search_location": {
      "post": {
        "tags": [
          "Zones"
        ],
        "summary": "zone_search_location",
        "description": "Gets all geofence IDs and names that contain the specified coordinates.",
        "operationId": "zone_search_location",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/zone/update": {
      "post": {
        "tags": [
          "Zones"
        ],
        "summary": "zone_update",
        "description": "Updates geofence parameters for the specified geofence.",
        "operationId": "zone_update",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/zone/upload": {
      "post": {
        "tags": [
          "Zones"
        ],
        "summary": "zone_upload",
        "description": "Imports geofences from a KML file.",
        "operationId": "zone_upload",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/zone/download": {
      "post": {
        "tags": [
          "Zones"
        ],
        "summary": "zone_download",
        "description": "Downloads geofences as a KML file.",
        "operationId": "zone_download",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/track/list": {
      "post": {
        "tags": [
          "Routes"
        ],
        "summary": "track_list",
        "description": "This method retrieves a list of tracks for a given tracker within a specified time period.",
        "operationId": "track_list",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/track/read": {
      "post": {
        "tags": [
          "Routes"
        ],
        "summary": "track_read",
        "description": "This method fetches all track points that a GPS tracker has recorded and sent to the platform within a specified time\\ frame. The timestamp for each point corresponds to when the tracker recorded the point, adjusted to the user's time zone.",
        "operationId": "track_read",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/track/waybill/download": {
      "post": {
        "tags": [
          "Routes"
        ],
        "summary": "track_waybill_download",
        "description": "Downloads a waybill report DOCX file for tracks of the specified tracker and time period.",
        "operationId": "track_waybill_download",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/route/google/get": {
      "post": {
        "tags": [
          "Routes"
        ],
        "summary": "route_google_get",
        "description": "Gets route points using Google Directions API.",
        "operationId": "route_google_get",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/route/osrm/get": {
      "post": {
        "tags": [
          "Routes"
        ],
        "summary": "route_osrm_get",
        "description": "Gets route points via OSRM API.",
        "operationId": "route_osrm_get",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/route/progorod/get": {
      "post": {
        "tags": [
          "Routes"
        ],
        "summary": "route_progorod_get",
        "description": "Gets route points using Progorod router.",
        "operationId": "route_progorod_get",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/status/create": {
      "post": {
        "tags": [
          "Status"
        ],
        "summary": "status_create",
        "description": "Backend API endpoint: POST /status/create",
        "operationId": "status_create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/status/delete": {
      "post": {
        "tags": [
          "Status"
        ],
        "summary": "status_delete",
        "description": "Backend API endpoint: POST /status/delete",
        "operationId": "status_delete",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/status/list": {
      "post": {
        "tags": [
          "Status"
        ],
        "summary": "status_list",
        "description": "Backend API endpoint: POST /status/list",
        "operationId": "status_list",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkStatusList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/status/update": {
      "post": {
        "tags": [
          "Status"
        ],
        "summary": "status_update",
        "description": "Backend API endpoint: POST /status/update",
        "operationId": "status_update",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/status/listing/create": {
      "post": {
        "tags": [
          "Status"
        ],
        "summary": "status_listing_create",
        "description": "Backend API endpoint: POST /status/listing/create",
        "operationId": "status_listing_create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/status/listing/delete": {
      "post": {
        "tags": [
          "Status"
        ],
        "summary": "status_listing_delete",
        "description": "Backend API endpoint: POST /status/listing/delete",
        "operationId": "status_listing_delete",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/status/listing/list": {
      "post": {
        "tags": [
          "Status"
        ],
        "summary": "status_listing_list",
        "description": "Backend API endpoint: POST /status/listing/list",
        "operationId": "status_listing_list",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/status/listing/update": {
      "post": {
        "tags": [
          "Status"
        ],
        "summary": "status_listing_update",
        "description": "Backend API endpoint: POST /status/listing/update",
        "operationId": "status_listing_update",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/asset_group/create": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "asset_group_create",
        "description": "Create new asset group.",
        "operationId": "asset_group_create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/asset_group/list": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "asset_group_list",
        "description": "List asset groups by ids or asset.",
        "operationId": "asset_group_list",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkAssetGroupEntryList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/asset_group/set": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "asset_group_set",
        "description": "Set assets to existing group.",
        "operationId": "asset_group_set",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/asset_group/remove": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "asset_group_remove",
        "description": "Remove assets from group.",
        "operationId": "asset_group_remove",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/asset_group/update": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "asset_group_update",
        "description": "Update asset group name.",
        "operationId": "asset_group_update",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/asset_group/delete": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "asset_group_delete",
        "description": "Delete asset group.",
        "operationId": "asset_group_delete",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/beacon/data/read": {
      "post": {
        "tags": [
          "Beacons"
        ],
        "summary": "beacon_data_read",
        "description": "List of beacon data history between `from` date/time and `to` date/time sorted by **get\\_time** field.",
        "operationId": "beacon_data_read",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/beacon/data/last_values": {
      "post": {
        "tags": [
          "Beacons"
        ],
        "summary": "beacon_data_last_values",
        "description": "Backend API endpoint: POST /beacon/data/last_values",
        "operationId": "beacon_data_last_values",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/geocoder/search_address": {
      "post": {
        "tags": [
          "Geocoding"
        ],
        "summary": "geocoder_search_address",
        "description": "Performs a forward geocoding. Returns a list of locations matching the given address. Items in the list sorted by relevance.",
        "operationId": "geocoder_search_address",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/geocoder/search_location": {
      "post": {
        "tags": [
          "Geocoding"
        ],
        "summary": "geocoder_search_location",
        "description": "Search address by location using geocoder.",
        "operationId": "geocoder_search_location",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/map_layer/read": {
      "post": {
        "tags": [
          "Maps"
        ],
        "summary": "map_layer_read",
        "description": "Reads the body of the specified layer.",
        "operationId": "map_layer_read",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkMapLayerValue"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/map_layer/list": {
      "post": {
        "tags": [
          "Maps"
        ],
        "summary": "map_layer_list",
        "description": "Returns metadata for all map layers for the user.",
        "operationId": "map_layer_list",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkMapLayerList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/map_layer/upload": {
      "post": {
        "tags": [
          "Maps"
        ],
        "summary": "map_layer_upload",
        "description": "Uploads new map layer.",
        "operationId": "map_layer_upload",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
[...]
