<header class="md-header header" data-md-component="header">
    <!-- partially copy-pasted to home.html -->
    <div id="header-navixy" class="container header__top show">
      <div class="row">
        <label class="md-header__button md-icon" for="__drawer">
          {% include ".icons/material/menu" ~ ".svg" %}
        </label>
        <div class="header__left">
          <a href="{{ config.site_url | default(nav.homepage.url, true) | url }}" class="header__logo"><span class="navixy"></span><span class="developer-hub"></span></a>
        </div>
        <div class="header__right">
          <div id="main-navigation" class="main-navigation">
            <div class="menu-main-menu-container">
              <ul id="primary-menu" class="menu nav-menu">
                <li class="menu-item"><a href="https://docs.navixy.com/">Help Center</a></li>
                <li class="active menu-item"><a href="{{ config.site_url | default(nav.homepage.url, true) | url }}">Developer Hub</a></li>
                <li class="menu-item"><a href="https://marketplace.navixy.com/">Marketplace</a></li>
                <li class="menu-item"><a href="https://www.navixy.com/">Navixy</a></li>
              </ul>
            </div>
          </div>
          {% if "search" in config["plugins"] %}
              {% include "partials/search.html" %}
          {% endif %}
        </div>
      </div>
    </div>
</header>